<!DOCTYPE html>
<html>
  <head>
    <title>Kelly's T3</title>
  </head>
  <body>
    <h1>Welcome to T3!</h1>
    <h3>Enter move: <%#= greet_name %></h3>
    <form method="post" action="/change">
      <input name="name" type="text">
      <input type=" submit" value="Submit">
    </form>
  </body>
</html>